.card-project {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #410081;
    width: 280px;
    height: 280px;
    box-shadow: 10px 10px 0px #FFF;
}

.card-project.-blue {
    background-color: #324596
}